<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Issue Tracker{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Вход</a></li>
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
